.cookie
  .wrapper
    .message
      p
        |We are using cookies to provide statistics that help us give you
        |the best experience of our site. You can find out more or switch
        |them off if you prefer. However, by continuing to use the site without
        |changing settings, you are agreeing to our use of cookies.

    .button-close
      svg.close-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 24 30', x='0px', y='0px')
        path(fill='#FFFFFF', d='M20.827 4.357l-0.707-0.707-8.131 8.132-8.132-8.132-0.707 0.707 8.132 8.132-8.132 8.132 0.707 0.707 8.132-8.132 8.131 8.132 0.707-0.707-8.131-8.132z')
        text(x='0', y='39', font-size='5px', font-weight='bold', font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif") Created by Paco Trujillo
        text(x='0', y='44', font-size='5px', font-weight='bold', font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif") from the Noun Project



