#contactSection
  .wrapper
    .contact
      .contact-text-header контакти
      .contact-item
        .photo-contact
          img(src="images/sashahataylo.png" alt="photo-4")
        .contact-text
          h2 саша
          img(src='images/line.svg', alt='line')

        p
          |Координатор
          br
          |проектів

        .information-contact
          a.num-phone(href='tel:+380936510258') +380 (93) 651 02 58
          a.mail(href='mailto:hello@terrysoot.com') hello@terrysoot.com
            img(src='images/arrow.svg', alt='arrow')



