.wrapper
  .inform
    .collections-panel.accordion-group.accordion-items

      a.switch.accordion-toggle.accordion.accordion-color(role="button") Порядок
        .arrow.arrow-open

      #menu-watcher.accordion-container.panel
        p.text-1 Стратегія. Тактика. Структура. Менеджмент. Відповідальність. Координація. Система. Звітність. Місце.
        p.text-2 Потрібен порядок?
        .button-inform
          a.button(href="#contactSection" role="button") розпочати проект
        p.text-3 Спочатку разом із TerrySoot ми ввели планування та впровадили контроль над грошовими потоками. Другим етапом був чіткий розподіл продуктів та сегментація потенційних клієнтів. Фінальна стадія – введення виконавчого директора. Якщо Ви власник бізнесу і Вам потрібно його структурувати – сміливо звертайтесь до Тараса Копотя та команди TerrySoot.
        p.text-4 Зеник Матчишин, засновник uMuni
        p.text-5 Інформаційні Технології

    .collections-panel.accordion-group.accordion-items

      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher"  role="button") Думка
        .arrow.arrow-open
      #menu-watcher-1.accordion-container.panel
        p.text-1 Ідея. Бачення. Дослідження. Інновації. Творчість. Експертиза. Висновки. Досвід.
        p.text-2 Шукаєте ідеї?
        .button-inform
          a.button(href="#contactSection" role="button") розпочати проект
        p.text-3 Продукт, який ми отримали в результаті – це більше, ніж покрокове бачення стратегічного розвитку кожного з елементів нашого заводу. Ми також отримали повну консалтингову підтримку на етапі впровадження наших рішень. Дуже рекомендую, особливо, при стинутих строках та бюджетах. Гроші окуповуються.
        p.text-4 Андрій Окунський, директор ТОВ “ФФУ Продакшн”
        p.text-5 Виробництво полімерного покриття

    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher-1" role="button") Дизайн
        .arrow.arrow-open
      #menu-watcher-2.accordion-container.panel
        p.text-1 Бренд. Організація. Люди. Робота. Офіс. Продукт. Маркетинг. Реклама.
        p.text-2 Новий дизайн?
        .button-inform
          a.button(href="#contactSection" role="button") розпочати проект
        p.text-3 Ми звернулися за розробкою брендингу і в результаті отримали набагато більше, ніж лого. Павло Доро та команда прониклися завданням та розробили концепцію бренду, систему комунікації та всі необхідні елементи брендингу. Ми обов’язково продовжимо нашу співпрацю.
        p.text-4 Андрій Рожило, співзасновник “1.618”
        p.text-5 Архітектура та будівництво

    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher-2" role="button") Гроші
        .arrow.arrow-open
      .accordion-container.panel
        p.text-1 Результат. Фінанси. Потік. Партнери. Ріст. Інвестиції. Капітал. Свобода. Покоління.
        p.text-2 Хочете грошей?
        .button-inform
          a.button(href="#contactSection" role="button") розпочати проект
        p.text-3 Команда TerrySoot  успішно впоралася із завданням зміни бізнес-моделі. Оновлений проект показав позитивну монетизацію вже через 5 місяців.
        p.text-4 Максим Козицький, бізнес-інвестор
        p.text-5 Відновлювана енергетика



