.wrapper
  .partners
    .text-header партнери
    .item
      .photo-partner
        img(src="images/taraskopot.png" alt="photo-1")
      .text-partner
        h2
          | тарас
          br
          | копоть
        img(src='images/line.svg', alt='line')

      p
        |Стратегічне планування
        br
        |Керуючий партнер

    .item
      .photo-partner
        img(src="images/pavlodoro.png" alt="photo-2")
      .text-partner
        h2
          | павло
          br
          | доро
        img(src='images/line.svg', alt='line')

      p
        |Концептуальний дизайн
        br
        |Партнер

    .item
      .photo-partner
        img(src="images/bohdana.png" alt="photo-3")
      .text-partner
        h2
          | богдана
          br
          | гурій
        img(src='images/line.svg', alt='line')

      p
        |Соціологічний аналіз
        br
        |Директор

