.wrapper
  .inform
    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(role="button") Order
        .arrow
      #menu-watcher.accordion-container.panel
        p.text-1 Strategy. Tactic. Order. Management.Responsibility. Coordination. System. Report. Place.
        p.text-2 Need a structure?
        .button-inform
          a.button(href="#contactSection" role="button") start a project
        p.text-3 First, with TerrySoot, we have entered planning and cash flow control. Clear division of products and the segmentation of potential customers were the next steps, the final stage was the introduction of the executive director. If you own the business and you need to structure it, feel free to contact Taras Kopot and the TerrySoot team.
        p.text-4 Zenyk Matchyshyn, founder of uMuni.
        p.text-5 Information Technology


    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher" role="button") Idea
        .arrow
      #menu-watcher-1.accordion-container.panel
        p.text-1 Thought. Vision. Research. Innovations.Creativity. Expertise. Conclusion. Experience.
        p.text-2 Looking for ideas?
        .button-inform
          a.button(href="#contactSection" role="button") start a project
        p.text-3 The final product we received is more than a step-by-step vision of the strategic development of each elements in our factory. We have also received full consulting support at the stage of implementing our solutions. I highly recommend this team, especially if deadlines and budgets are paying off.
        p.text-4 Andrew Okunski, Director of FFU Production LLC
        p.text-5 Production of polymeric coating


    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher-1" role="button") Design
        .arrow
      #menu-watcher-2.accordion-container.panel
        p.text-1 Brand. Organization. People. Work. Office.Product. Marketing. Advertising.
        p.text-2 New design?
        .button-inform
          a.button(href="#contactSection" role="button") start a project
        p.text-3 We applied for branding and, as a result, got much more than a logo. Pavlo Doro and the TerrySoot team got into the task and created the concept of the brand, communication system and all necessary elements of branding. We will definitely continue our cooperation.
        p.text-4 Andrew Rozhylo, co-founder of "1.618"
        p.text-5 Architecture and construction


    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher-2" role="button") Money
        .arrow
      .accordion-container.panel
        p.text-1 Result. Finance. Cash Flow. Partners. Growth.Investment. Capital. Freedom. Generation.
        p.text-2 More money?
        .button-inform
          a.button(href="#contactSection" role="button") start a project
        p.text-3 The TerrySoot team has successfully coped with the task of changing business model. The upgraded project has shown positive monetization in 5 months.
        p.text-4 Maxym Kozytskyy, business investor
        p.text-5 Renewable energy






