.wrapper
  .partners
    .text-header Partners
    .item
      .photo-partner
        img(src="images/taraskopot.png" alt="photo-1")
      .text-partner
        h2
          | Taras
          br
          | Kopot
        img(src='images/line.svg', alt='line')

      p
        |Strategic planning
        br
        |Managing partner

    .item
      .photo-partner
        img(src="images/pavlodoro.png" alt="photo-2")
      .text-partner
        h2
          | Pavlo
          br
          | Doro
        img(src='images/line.svg', alt='line')

      p
        |Conceptual design
        br
        |Partner

    .item
      .photo-partner
        img(src="images/bohdana.png" alt="photo-3")
      .text-partner
        h2
          | Bogdana
          br
          | Huriy
        img(src='images/line.svg', alt='line')

      p
        |Sociological analysis
        br
        |Director

