.wrapper
  .projects
    .project-text projects

    .projects-collection-text
      p Umuni, Next Bike, ActivityFusion, Lagom, FFU Production, Mushroom, Orzo, Tabulate, 1.618, Ремеслярня, Pozitiff, Onist, Дивися ширше, Запорука, Polska Sieć Ambasadorów Przedsiębiorczości Kobiet
