doctype html
include partials/_head
body
    include  partials/_preloader
    include pages/index/_header
    include pages/index/_inform
    include pages/index/_partners
    include pages/index/_project
    include pages/index/_contacts
    include partials/_footer
    include  partials/_box-cookie
    include  partials/_extensions