doctype html
include partials/_head
body
  include  partials/_preloader
  include pages/index/ru/_header
  include pages/index/ru/_inform
  include pages/index/ru/_partners
  include pages/index/ru/_project
  include pages/index/ru/_contacts
  include partials/_footer
  include  partials/_box-cookie
  include  partials/_extensions
