doctype html
include partials/_head
body
  include  partials/_preloader
  include pages/index/en/_header
  include pages/index/en/_inform
  include pages/index/en/_partners
  include pages/index/en/_project
  include pages/index/en/_contacts
  include partials/_footer
  include  partials/_box-cookie
  include  partials/_extensions
