.wrapper
  .header
    .logo
      img(src='images/logo.svg', alt='logo')

    #select
      .menu
        a.dropdown-toggle(role="button", data-toggle='dropdown', aria-expanded='false')
          span.selected RU
          span.caret
        ul.dropdown-menu.option(role='menu')
          li#1
            a(href='index.html') Українська
          li#2
            a(href='index_en.html') English
          li#3
            a(href='index_ru.html') Русский


