.wrapper
  .inform
    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(role="button") Порядок
       .arrow.arrow-open

      #menu-watcher.accordion-container.panel
        p.text-1 Стратегия. Тактика. Структура.Менеджмент. Ответственность. Координация.Система. Отчетность. Место.
        p.text-2 Нужен порядок?
        .button-inform
          a.button(href="#contactSection" role="button") начать проект
        p.text-3 Сначала вместе с TerrySoot мы ввели планирования и внедрили контроль над денежными потоками. Следующим этапом было четкое распределение продуктов и сегментация потенциальных клиентов. Финальная стадия - ввод исполнительного директора. Если Вы владелец бизнеса и Вам нужно его структурировать - смело обращайтесь к Тарасу Копотю и команде TerrySoot.
        p.text-4 Зенык Матчышин, основатель uMuni
        p.text-5 Информационные технологии


    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher" role="button") Мысль
        .arrow.arrow-open

      #menu-watcher-1.accordion-container.panel
        p.text-1 Идея. Визия. Исследования. Инновации. Творчество. Экспертиза. Выводы. Опыт.
        p.text-2 Ищете идеи?
        .button-inform
          a.button(href="#contactSection" role="button") начать проект
        p.text-3 Продукт, который мы получили в результате - это больше, чем пошаговая инструкция стратегического развития каждого из элементов нашего завода. Мы также добились полной консалтинговой поддержки на этапе внедрения наших решений. Очень рекомендую, особенно, при сжатых сроках и бюджетах. Деньги окупаются.
        p.text-4 Андрей Окунский, директор ООО "ФФУ Продакшн
        p.text-5 Производство полимерного покрытия


    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher-1" role="button") Дизайн
        .arrow.arrow-open

      #menu-watcher-2.accordion-container.panel
        p.text-1 Бренд. Организация. Люди. Работа. Офис.Продукт. Маркетинг. Реклама.
        p.text-2 Новый дизайн?
        .button-inform
          a.button(href="#contactSection" role="button") начать проект
        p.text-3 Мы обратились за разработкой брендинга и в результате получили гораздо больше, чем логотип. Павел Доро и команда прониклись задачей и разработали концепцию бренда, систему коммуникации и все необходимые его элементы. Мы обязательно продолжим наше сотрудничество.
        p.text-4 Андрей Рожыло, соучредитель "1.618"
        p.text-5 Архитектура и строительство


    .collections-panel.accordion-group.accordion-items
      a.switch.accordion-toggle.accordion.accordion-color(href="#menu-watcher-2" role="button") Деньги
        .arrow.arrow-open

      .accordion-container.panel
        p.text-1 Результат. Финансы. Поток. Партнеры. Рост. Инвестиции. Капитал. Свобода. Поколения.
        p.text-2 Хотите денег?
        .button-inform
          a.button(href="#contactSection" role="button") начать проект
        p.text-3 Команда TerrySoot успешно справилась с задачей изменения бизнес-модели. Обновленный проект показал положительную монетизацию уже через 5 месяцев.
        p.text-4 Максим Козицкий, бизнес-инвестор
        p.text-5 Возобновляемая энергетика






