.wrapper
  .partners
    .text-header партнеры
    .item
      .photo-partner
        img(src="images/taraskopot.png" alt="photo-1")
      .text-partner
        h2
          | Тарас
          br
          | Копоть
        img(src='images/line.svg', alt='line')

      p
        |Стратегическое планирование
        br
        |Управляющий партнер

    .item
      .photo-partner
        img(src="images/pavlodoro.png" alt="photo-2")
      .text-partner
        h2
          | Павел
          br
          | Доро
        img(src='images/line.svg', alt='line')

      p
        |Концептуальный дизайн
        br
        |Партнер

    .item
      .photo-partner
        img(src="images/bohdana.png" alt="photo-3")
      .text-partner
        h2
          | Богдана
          br
          | Гурий
        img(src='images/line.svg', alt='line')

      p
        |Социологический анализ
        br
        |Директор

